body {
    background-color: aliceblue;
    font-family: sans-serif;
}

.nav {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 97%;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}
.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    position: relative;
}
#logoutBtn {
    margin-left: auto;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 15px;

}
#logoutBtn:hover {
    background-color: rgba(255, 93, 93, 0.46);;
}
.nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
}
.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}
.nav-item:not(.is-active):hover {
    color: #333;
}
.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}
@media (max-width: 580px) {
    .nav {
        overflow: auto;
    }
}

#tripCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.flip-card {
    margin: 20px;
    background-color: transparent;
    width: 300px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    cursor: pointer;
}

.flip-card p {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}

.flip-card-front {
    background-image: url("https://www.cpt.dk/media/19621/shutterstock_433413835.jpg?width=1110");
    background-position: center;
    background-size: cover;
    color: coral;
}

.flip-card-back {
    background: linear-gradient(
            120deg,
            rgb(255, 174, 145) 30%,
            coral 88%,
            bisque 40%,
            rgb(255, 185, 160) 78%
    );
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back p {
    font-size: 0.9em;
    margin: 9px;
}

#createTrip {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#createTripForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#createTripForm label {
    display: block;
    width: calc(50% - 10px);
    margin-bottom: 15px;
    font-size: 16px;
}

#createTripForm input[type="date"],
#createTripForm input[type="number"],
#createTripForm input[type="text"],
#createTripForm input[type="url"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#createTripForm button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#createTripForm button:hover {
    background-color: #3e8e41;
}


.admin-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-controls h2 {
    margin: 0;
    font-size: 24px;
}

.admin-controls button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.admin-controls button:hover {
    background-color: #3e8e41;
}

.trip {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.trip-image {
    flex: 0 0 50%;
    max-width: 50%;
    height: auto;
    overflow: hidden;

}

#tripImage {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.trip-info {
    flex: 0 0 50%;
    max-width: 50%;
}

.trip-title {
    margin: 0 0 15px;
    font-size: 24px;
}

.trip-details {
    flex-wrap: wrap;
    margin: -5px;
}

.detail {
    flex: 0 0 50%;
    padding: 5px;
}

.detail-label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

.detail-value {
    display: inline-block;
    margin-left: 10px;
}

.auction-bidding {
    float: right;
    margin-left: 20px;
    width: 300px;
}

#destinationList ul {
    list-style: none;
    padding-left: 0;
}

#destinationList li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#destinationList li .flag-icon {
    font-size: 24px;
    margin-right: 10px;
}

.auction-bidding {
    position: relative;
    background-color: #f8f8f8;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 40%;
}

.auction-bidding h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#currency {
    position: relative;
    right: 0;
    margin: -30px -85% 30px 0;;
}

.auction-bidding form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auction-bidding label {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
    display: block;
}

.auction-bidding input[type="number"],
.auction-bidding input[type="text"],
.auction-bidding input[type="email"],
.auction-bidding input[type="date"] {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.auction-bidding button[type="submit"] {
    background-color: #4caf50;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.auction-bidding button[type="submit"]:hover {
    background-color: #3e8e41;
}

#registerLoginBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#userInformation {
    border-radius: 5px;
    padding: 10px;
}

#userInformation h3 {
    margin-bottom: 5px;
}

.auction-bidding button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.auction-bidding button:hover {
    background-color: #3e8e41;
}

#allBids {
    position: relative;
    background-color: #f8f8f8;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    text-align: left;
    width: 40%;
    margin-left: 20px;
    margin-top: 10px;
}

#loginOverlay, #registerOverlay {
    position: fixed;
    top: 20%;
    left: 35%;
    z-index: 1000;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    background-color: rgba(255, 138, 92, 0.78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginOverlay input[type="email"],
#loginOverlay input[type="password"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#loginOverlay input[type="submit"],
#loginOverlay button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginOverlay input[type="submit"]:hover,
#loginOverlay button:hover {
    background-color: #3e8e41;
}

#loginOverlay button[type="button"] {
    background-color: #f44336;
}

#loginOverlay label {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}


