<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="../assets/png-transparent-airplane-cartoon-plane-creative-train-marine-mammal-photography-decoupage.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="navbar">
    <nav class="nav">
        <a href="index.html" class="nav-item is-active" active-color="orange">Hjem</a>
        <a href="trips.html" class="nav-item" active-color="green">Rejser</a>
        <a href="facts.html" class="nav-item" active-color="blue">Fakta</a>
        <a href="contact.html" class="nav-item" active-color="rebeccapurple">Kontakt</a>
        <span class="nav-indicator"></span>
    </nav>
</div>


<script src="../js/navbar.js"></script>
</body>
</html>