<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Afbudsrejser</title>
    <link rel="icon" href="../assets/png-transparent-airplane-cartoon-plane-creative-train-marine-mammal-photography-decoupage.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="navbar">
    <nav class="nav">
        <a href="index.html" class="nav-item is-active" active-color="orange">Hjem</a>
        <a href="trips.html" class="nav-item" active-color="green">Rejser</a>
        <a href="facts.html" class="nav-item" active-color="blue">Fakta</a>
        <a href="contact.html" class="nav-item" active-color="rebeccapurple">Kontakt</a>
        <span class="nav-indicator"></span>
    </nav>
</div>

<div>
    <h1>Velkommen til afbudsrejser hvor du kan få din næste rejse billigere end nogensinde</h1>
    <h3>Udvalgte rejser:</h3>
    <div id="popularTrips">

    </div>
    <br>
    <div id="destinations">
        <h3>Vores rejsedestinationer</h3>
        <div id="destinationList">
            <ul>
                <li><a href="trips.html?destination=Spanien">🇪🇸Spanien</a></li>
                <li><a href="trips.html?destination=Italien">🇮🇹Italien</a></li>
                <li><a href="trips.html?destination=Frankrig">🇫🇷Frankrig</a></li>
                <li><a href="trips.html?destination=USA">🇺🇸USA</a></li>
                <li><a href="trips.html?destination=Grækenland">🇬🇷Grækenland</a></li>
            </ul>
        </div>
    </div>

</div>




<script src="../js/user.js"></script>
<script src="../js/trip.js"></script>
<script src="../js/navbar.js"></script>
</body>
</html>