<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejser</title>
    <link rel="icon" href="../assets/png-transparent-airplane-cartoon-plane-creative-train-marine-mammal-photography-decoupage.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body onload="onLoad()">
<div class="navbar">
    <nav class="nav">
        <a href="index.html" class="nav-item is-active" active-color="orange">Hjem</a>
        <a href="trips.html" class="nav-item" active-color="green">Rejser</a>
        <a href="facts.html" class="nav-item" active-color="blue">Fakta</a>
        <a href="contact.html" class="nav-item" active-color="rebeccapurple">Kontakt</a>
        <span class="nav-indicator"></span>
    </nav>
</div>
<div>
    <h1>Her er en oversigt over alle tilgængelige afbudsrejser</h1>
</div>

<div class="filters">
    <!-- Country filter -->
    <label for="country-filter">Land</label>
    <select id="country-filter">
        <option value="all">Alle</option>
        <option value="Spanien">Spanien</option>
        <option value="Frankrig">Frankrig</option>
        <option value="Tyskland">Tyskland</option>
        <option value="Danmark">Danmark</option>
        <!-- more options... -->
    </select>

    <!-- City filter
    <label for="city-filter">City</label>
    <select id="city-filter">
        <option value="">Any</option>
        <option value="new-york">New York</option>
        <option value="paris">Paris</option>
        <option value="rome">Rome</option>
    </select>
        more options... -->

    <!-- Deadline filter -->
    <label for="deadline-filter">Deadline</label>
    <input type="date" id="deadline-filter">

    <!-- Departure date filter
    <label for="departure-filter">Afrejse</label>
    <input type="date" id="departure-filter">
        more options... -->

    <!-- New filter -->
    <label for="type-filter">Type</label>
    <select id="type-filter">
        <option value="all">Alle</option>
        <option value="new">Ny</option>
        <option value="alreadyBid">Budt på</option>
    </select>

    <!-- Sort filter -->
    <label for="sort-filter">Sorter</label>
    <select id="sort-filter">
        <option value="none">Ingen</option>
        <option value="price-low">Price Low</option>
        <option value="price-high">Price High</option>
        <option value="deadline">Deadline</option>
        <option value="alphabetical">Alphabetical</option>
        <!-- more options... -->
    </select>
</div>


<div id="tripCards">

</div>


<script src="../js/user.js"></script>
<script src="../js/trip.js"></script>
<script src="../js/navbar.js"></script>
</body>
</html>