<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejser</title>
    <link rel="icon" href="../assets/png-transparent-airplane-cartoon-plane-creative-train-marine-mammal-photography-decoupage.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body onload="onLoad()">
<div class="navbar">
    <ul>
        <li><a href="index.html">Hjem</a></li>
        <li><a href="trips.html">Rejser</a></li>
        <li><a href="auctions.html">Fakta</a></li>
        <li><a href="login.html">FAQ</a></li>
        <li><a href="register.html">Kontakt</a></li>
    </ul>
</div>
<div>
    <h1>Her er en oversigt over alle tilgængelige afbudsrejser</h1>
</div>

<div id="tripCards">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front" id="cf0">
                <p class="flip-card-destination">Rom</p>
                <p class="flip-card-bid">200 DKK</p>
            </div>
            <div class="flip-card-back">
                <p class="flip-card-country">Italien</p>
                <p class="flip-card-city">Rom</p>
                <p class="flip-card-airline">Flyselskab</p>
                <p class="flip-card-departure">Afgang</p>
                <p class="flip-card-return">Retur</p>
                <p class="flip-card-deadline">Deadline</p>
            </div>
        </div>
    </div>
</div>


<script src="../js/user.js"></script>
<script src="../js/trip.js"></script>
</body>
</html>