<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip Details</title>
    <link rel="icon" href="../assets/png-transparent-airplane-cartoon-plane-creative-train-marine-mammal-photography-decoupage.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body onload="clickedTrip()">
<div class="navbar">
    <nav class="nav">
        <a href="index.html" class="nav-item is-active" active-color="orange">Hjem</a>
        <a href="trips.html" class="nav-item" active-color="green">Rejser</a>
        <a href="facts.html" class="nav-item" active-color="blue">Fakta</a>
        <a href="contact.html" class="nav-item" active-color="rebeccapurple">Kontakt</a>
        <span class="nav-indicator"></span>
    </nav>
</div>


<div class="trip">
    <div class="trip-image">
        <img id="tripImage" src="https://via.placeholder.com/500x300" alt="Trip Image">
    </div>

    <div class="auction-bidding">
        <h2>Auktionsbud</h2>
        <form>
            <label for="bid">Dit bud:</label>
            <input type="number" id="bid" name="bid">
            <input type="text" id="userName" name="name" placeholder="Your Full Name">
            <input type="email" id="email" name="email" placeholder="E-Mail">
            <label for="birthday">Your Birth Date:</label>
            <input type="date" id="birthday" name="birthday">
            <button type="submit">Submit Bid</button>
        </form>
    </div>

    <div class="trip-info">
        <h2 class="trip-title">Title of Trip</h2>
        <div class="trip-details">
            <div class="detail">
                <span class="detail-label">Destination:</span>
                <span id="city" class="detail-value">Copenhagen, Denmark</span>
            </div>
            <div class="detail">
                <span class="detail-label">Airline:</span>
                <span id="airline" class="detail-value">SAS</span>
            </div>
            <div class="detail">
                <span class="detail-label">Flight Number:</span>
                <span id="flightNo" class="detail-value">SK532</span>
            </div>
            <div class="detail">
                <span class="detail-label">Departure Date:</span>
                <span id="departure" class="detail-value">May 21, 2023</span>
            </div>
            <div class="detail">
                <span class="detail-label">Return Date:</span>
                <span id="return" class="detail-value">May 28, 2023</span>
            </div>

            <div class="detail">
                <span class="detail-label">Hotel Link:</span>
                <a id="hotel" href="#" class="detail-value">https://www.example.com/hotel</a>
            </div>
            <div class="detail">
                <span class="detail-label">Starting Bid:</span>
                <span id="startingBid" class="detail-value">$500</span>
            </div>
            <div class="detail">
                <span class="detail-label">Auction Deadline:</span>
                <span id="auctionDeadline" class="detail-value">May 1, 2023</span>
            </div>
        </div>
    </div>
    <div>
        <h2>Bud Historik</h2>
        <h3>TBD</h3>
    </div>
</div>





<script src="../js/user.js"></script>
<script src="../js/trip.js"></script>
<script src="../js/navbar.js"></script>
</body>
</html>